* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f8f9fa!;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.big-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  max-width: 960px;
  padding: 48px 0px;
}

.logo {
  margin: auto;
  margin-bottom: 24px;
}

#title {
  text-align: center;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.title-par {
  text-align: center;
  max-width: 936px;
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}

.container-1 {
  display: flex;
  flex-direction: column;

  max-width: 618px;
}

#title-in {
  font-size: 24px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;

  margin-bottom: 16px;
}

.cint-input {
  display: flex;
  justify-content: space-between;
}

.in1 {
  width: 301px;
  height: 31px;
}

.tit-input {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;

  margin-bottom: 8px;
}

.input-cont-2 {
  margin-top: 10px;
}

.tit-input-2 {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: black;

  margin-bottom: 8px;
}

.mini-cont {
  display: flex;
  align-content: center;
}

#hh6 {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;

  width: 40px;
  font-size: 16px;
  text-align: center;

  padding-top: 10px;
  background-color: rgb(192, 185, 185);
}

.in2 {
  width: 578px;
  height: 38px;
}

.input3 {
  display: flex;
}

.tit-input-3 {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;

  margin-bottom: 8px;
}

.in3 {
  width: 618px;
  height: 38px;
}

.in4 {
  width: 248px;
  height: 38px;

  padding: 6px 28px 6px 12px;
}

.in5 {
  width: 195px;
  height: 38px;
  padding: 6px 28px 6px 12px;
}

.in6 {
  width: 142px;
  height: 38px;

  padding: 6px 28px 6px 12px;
}

.cint-input.container {
  margin-top: 16px;
}

.input-cont-1 {
  padding: 0px 8px;
}

.placholder::placeholder {
  color: black;
}

.checkbox-container {
  display: flex;
  flex-direction: column;

  margin: 0 0 2px;
}

hr {
  margin: 24px 0px;
}

.checkbox-input {
  font-size: 16px;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;
}

.label-container-1 {
  display: flex;
  align-items: center;
}

.span-container-2 {
  margin-top: 25px;
}

.label {
  width: 16px;
  height: 16;
}

.label-input {
  font-size: 16px;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;

  margin-left: 5px;
}

.span-container-3 {
  margin-top: 30px;
  display: flex;
}

.form-control-input {
  width: 140px;
  height: 38px;
}

.form-control-first {
  margin-right: 25px;
}

.form-control-title {
  margin-bottom: 8px;

  font-size: 16px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;

  margin-left: 5px;
}

.hr1 {
  margin-top: 20px;
  color: darkgray;
  box-shadow: 0px 0px 5px rgb(207, 203, 203);
}

.btn-1 {
  display: flex;
  justify-content: center;
}

.btn-2 {
  width: 100%;
  height: 40px;

  background-color: hsla(220, 100%, 50%);
  border-radius: 5px;
  border-color: hsl(220, 100%, 50%);
}

.btn-3 {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.container-2 {
  width: 317px;
  margin: 16px 0px 0px;
  padding: 0px 8px;
}

.very-big-container {
  display: flex;
}

.main-container-1 {
  display: flex;
  justify-content: space-between;

  margin-bottom: 5px;
}

.main-title {
  font-size: 24px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;
}

.main-title-bor {
  border: 1px solid black;
  border-radius: 50%;

  padding: 5px 15px;

  font-size: 22px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;
}

.main-container-2 {
  display: flex;
  justify-content: space-between;

  border: 1px solid darkgray;
  padding: 8px 16px;
  background-color: white;
}

.main-title-h6 {
  font-size: 16px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;

  padding-left: 15px;
}
.main-title-span {
  font-size: 16px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;

  color: rgb(141, 138, 138);
  padding-right: 5px;
}

.mini-div-container {
  display: flex;
  flex-direction: column;
}

.small1 {
  padding-left: 15px;
  font-size: 14px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;

  color: darkgray;
}

.main-container-3{
  display: flex;
  justify-content: space-between;

  border: 1px solid darkgray;
  padding: 8px 16px;
  background-color: white;
}

.mini-div-container-1{
  font-size: 16px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;

  color: green;
}

.small2 {
  font-size: 14px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;

  color: green;
}

.main-container-4{
  display: flex;
  justify-content: space-between;

  border: 1px solid darkgray;
  padding: 8px 16px;
  background-color: white;

  margin-top: 20px;
}

.mini-div-container-2{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 301px;

  border: 1px solid darkgray;
  padding: 8px 16px;
  background-color: white;
}

.main-container-button{
  padding: 4px 12px;
  margin-left: -5px;
  background-color:rgb(85, 90, 117);
  border: 1px solid rgb(85, 90, 117);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;

  font-size: 16px ;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;
}