* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f8f9fa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
  Tahoma, Geneva, Verdana, sans-serif;
  border-color: #ced4da;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* это самый большой  и важный контайнер  */
.big-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  max-width: 960px;
  padding: 48px 0px;
}
/* логотип */
.logo {
  margin: auto;
  margin-bottom: 24px;
}
/* самое первое и главный заголовок id= "title"  */
#title {
  text-align: center;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
/* самое первое и главный параграф id= "title-par" */
.title-par {
  text-align: center;
  max-width: 936px;
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}


/* это третий по значимости контайнер который содержит первую колонку инпутов id= "container-1" */
.container-1 {
  display: flex;
  flex-direction: column;

  max-width: 618px;
}


/*это название контайнера (третий по значимости) id= " title-in "*/
#title-in {
  font-size: 24px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;

  margin-bottom: 16px;
}


/*  этот див контайнер  отвечает за первые инпуты в начале контайнера id= "cint-input" */
.cint-input {
  display: flex;
  justify-content: space-between;
}


/* этот див в ответе за самый первый инпут id= "input-cont-1" */
/* .input-cont-1{
  margin-top: 16px;
} */


/* это название самого первого инпута id= "tit-input" */
.tit-input {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;

  margin-bottom: 8px;
}


/* это название самого первого инпута id= "in1" */
.in1 {
  width: 301px;
  height: 31px;
}


/* этот див контайнер  отвечает за второй инпут в начале контайнера id= "input-cont-2 */
.input-cont-2 {
  margin-top: 16px;
}


/* это название третьего инпута id= "tit-input-2" */
.tit-input-2 {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: black;

  margin-bottom: 8px;
}


/* этот контайнер в ответе за третий инпут  id= "mini-cont" */
.mini-cont {
  display: flex;
  align-content: center;
}


/* -это текст должен быть в центре рамки */
#hh6 {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-color: #ced4da;

  width: 40px;
  font-size: 16px;
  text-align: center;
  color: rgb(100, 99, 99);

  padding-top: 10px;
  background-color: rgb(221, 213, 213);
}


/* это название третьего инпута id= "in2" */
.in2 {
  width: 578px;
  height: 38px;
  border-color: #ced4da;
}


/* этот див в ответе за четвертый инпут в начале контайнера id= "input3" */
.input3 {
  display: flex;
}


/* это второе название четвертого инпута id= "tit-input-3" */
.tit-input-3 {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;

  margin-bottom: 8px;
}


/* это название четвертого инпута id= "in3" */
.in3 {
  width: 618px;
  height: 38px;
}


/*  этот див в ответе за седьмой инпут в начале контайнера id= "input-cont-1" */
.in4 {
  width: 248px;
  height: 38px;

  padding: 6px 28px 6px 12px;
}


/* здесь раположен инпут внутри которого есть текст с списком id= "in5 placholder" */
.in5 {
  width: 195px;
  height: 38px;
  padding: 6px 28px 6px 12px;
}


/* здесь раположен инпут внутри которого есть текст с списком id= "in6 placholder" */
.in6 {
  width: 142px;
  height: 38px;

  padding: 6px 28px 6px 12px;
}


/*  этот див контайнер  отвечает за седьмой инпут в начале контайнера id= "cinit-input container" */
.cint-input.container {
  margin-top: 16px;
}

/*  этот див в ответе за седьмой инпут в начале контайнера id= "input-cont-1" */
.input-cont-1 {
  padding: 0px 8px;
}


/* тут надо изменить цвет на черный id="in4 placholder" */
.placholder::placeholder {
  color: black;
}



/* этот див в ответе за список чекбоксов id= "checkbox-container" */
.checkbox-container {
  display: flex;
  flex-direction: column;

  margin: 0 0 2px;
}

hr {
  margin: 24px 0px;
}

.checkbox-input {
  font-size: 16px;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;
}





/* -этот контайнер в ответе за то что бы обьединит чекбокс списка id="span-container" */
.span-container-2 {
  margin-top: 25px;
}



/* этот контайнер  отвечает за ровность списка чекбоксов id="label-container-1 " */
.label-container-1 {
  display: flex;
  align-items: center;
}

.label {
  width: 16px;
  height: 16;
}

.label-input {
  font-size: 16px;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;

  margin-left: 5px;
}

.span-container-3 {
  margin-top: 30px;
  display: flex;
}

.form-control-input {
  width: 140px;
  height: 38px;
}


/* -Этот контайнер обьединяет название и инпут в один flex контайнер id="form-control-first"- */
.form-control-first {
  margin-right: 25px;
}

.form-control-title {
  margin-bottom: 8px;

  font-size: 16px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;

  margin-left: 5px;
}

.hr1 {
  margin-top: 20px;
  color: darkgray;
  box-shadow: 0px 0px 5px rgb(207, 203, 203);
}

.btn-1 {
  display: flex;
  justify-content: center;
}

.btn-2 {
  width: 100%;
  height: 40px;

  background-color: hsla(220, 100%, 50%);
  border-radius: 5px;
  border-color: hsl(220, 100%, 50%);
}

.btn-3 {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.container-2 {
  width: 317px;
  margin: 16px 0px 0px;
  padding: 0px 8px;
}

.very-big-container {
  display: flex;
}

.main-container-1 {
  display: flex;
  justify-content: space-between;

  margin-bottom: 5px;
}

.main-title {
  font-size: 24px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;
}

.main-title-bor {
  color: rgb(255, 255, 255);
  background-color: rgb(108, 117, 125);
  padding: 0.36em 0.65em;
  border-radius: 20px;
  font-size: 18px;
}

.main-container-2 {
  display: flex;
  justify-content: space-between;

  border: 1px solid;
  border-color: #ced4da;

  padding: 8px 16px;
  background-color: white;
}

.main-container-2.second {
  display: flex;
  justify-content: space-between;

  border: 1px solid;
  border-color: #ced4da;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4 px;
  padding: 8px 16px;
  background-color: white;
}


.main-container-2.first {
  display: flex;
  justify-content: space-between;

  border: 1px solid;
  border-color: #ced4da;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 8px 16px;
  background-color: white;
}

.main-title-h6 {
  font-size: 16px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;

  padding-left: 15px;
}
.main-title-span {
  font-size: 16px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;

  color: rgb(141, 138, 138);
  padding-right: 5px;
}

.mini-div-container {
  display: flex;
  flex-direction: column;
}

.small1 {
  padding-left: 15px;
  font-size: 14px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;

  color: darkgray;
}

.main-container-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid;
  border-color: #ced4da;
  padding: 8px 16px;
  background-color: white;
}


/*  <!--этот мини контайнер  нужен для того чтобы создать первый второй блок id="mini-div-container-1"--> */
.mini-div-container-1 {
  font-size: 16px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;

  color: green;
  padding: 15px;
}

.main-title-h6-h6{
  font-size: 18px;
  font-weight: 700;
}

.main-title-span.small-title{
  font-size: 18px;
  font-weight: 500;
  color: green;
}

.small2 {
  font-size: 14px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;

  color: green;
}

.main-container-4 {
  display: flex;
  justify-content: space-between;

  border: 1px solid;
  border-color: #ced4da;
  padding: 8px 16px;
  background-color: white;

  margin-top: 20px;
}

.mini-div-container-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 301px;

  border: 1px solid;

 
  border-color: #ced4da;
  padding: 8px 16px;
  background-color: white;
}

.main-container-button {
  padding: 4px 12px;
  margin-left: -5px;
  background-color: rgb(85, 90, 117);
  border: 1px solid;
  border-color: #ced4da;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;

  font-size: 16px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;
}

input {
  border: 1px solid #ced4da;
}

/* footer{
display: flex;
justify-content: center;
}

.ftr{
 
 
} */
